
.container{
    max-width: 800px;
    margin: auto;
    width: 100%;
    padding: 60px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 170, 255, 0.876);
    box-shadow: 0 10px 10px rgb(44, 44, 44);
}
h2{
    font-weight: 500;
    font-size: 35px;
    color: #ffff;
    text-transform: uppercase;
    text-align: center;
}
.wrapper{
    padding: 30px 0;
    border-radius: 10px;
    margin-top:15px;
    background-color: rgba(89, 95, 101, 0.337);
    box-shadow: rgba(255,255,255,0.15,0.37);
    backdrop-filter: blur(1.5px);
    border:1px solid rgba(255,255,255,0.18);
    transition: all 0.3s;
}
.wrapper:hover{
    box-shadow: none;
}
.main{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.main div{
    width: 20%;
    text-align: center;
}
.main .number{
    position: relative;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}
.main .colon{
    font-size: 25px;
}
@media(max-width:600px){
    .container{
        margin-top: 0;
        margin-left: 0;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
        padding: 0 20px;
        background-color: rgba(89, 95, 101, 0.337);
    }
    .content h2{
        font-size: 36px;
        text-align: center;
    }
    .outer-wrapper{
        padding: 20px 0;
    }
    .main div{
        width:15%;
    }
    .main .number{
        font-size: 50px;
    }
    .main .colon{
        font-size: 16px;
    }
}
