*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto Slab', serif;
    background-color: rgb(35, 36, 36);
}

nav{
    background-color: rgba(0, 170, 255, 0.876);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;

}
nav .mainMenu li a:hover{
    background: rgba(81, 79, 79, 0.281);

}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor:pointer;
}
nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
@media(max-width:600px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 170, 255, 0.876);
        transition: top 1s ease;
        display:none;

    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top:20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
     nav .mainMenu li a:hover{
        background: none;
        color: rgba(113, 109, 110, 0.462);
        font-size: 1.6rem;
     }
}
.outercontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}